@{
    ViewBag.Title = "About";
}
@*<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>*@
<div class="row-fluid">
    <div class="span12">
        <h1 class="small--text-center">About Us</h1>

        <div class="rte">
            <p>What really matters in life? Is it money? Is it fame? Here at Family, Love, Coffee we believe with all our soul that family, Love and coffee are the things that really truly matter. We have a true passion for coffee but beyond that it is the sense of community that can be created. The sense of community that is getting harder and harder to find these days. By family it isn’t just blood relatives but also the family you choose and about the social aspect in life because what really matters is people. Love is about people and about your passions. What actually makes you tick and not just floating through life. What makes you enjoy life. Your passions, your love, that is what really matters. And Coffee. So many people LOVE coffee. It is a magical beverage with a rich history that brings so many people together. It has roots in creating a sense of community and society more than anything else. It is truly one of our passions.</p>
            <p> </p>
            <p><strong> Family, Love, Coffee's Mission</strong></p>
            <p>The mission of Family, Love, Coffee is to help bring back that sense of community and what really matters in life. Help people focus on those aspects that really make a difference at the end of the day and give life a meaning.</p>
            <p> </p>
            <p><strong> Our Story</strong> </p>
            <p>We are a husband and wife team that started doing this with the dream to do something with meaning and bring a sense of meaning to people’s lives. We have thought about starting our own business venture before and tried many things but everything we tried before just fizzled out because there wasn’t really a passion and a purpose behind it. There was no sense of community with the other ventures and ideas and that's what really makes a difference. The husband, Matt is prior military and that was a huge thing in the military, the community aspect. Then we did some soul searching and decided that this is something we are passionate about and more so than that this is something that we can focus on building a community not a business. Businesses are about money but communities are about people, and it is the people that really matter.</p>
            <p> </p>
            <p> <strong>Why choose Family, Love Coffee?</strong> </p>
            We work hard to source products that are unique most of which are designed by us so you cannot get them anywhere else. We do that so that you can truly display your sense of commitment to what really matters in your life. When you help support Family, Love, Coffee you are supporting and becoming a part of a community of people who share common hopes, dreams, and values. We are all about what really matters in life, so much so that it is in the name. Family, Love, Coffee!
        </div>
    </div>
</div>