@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>MVC3 Site</h1>
    <p class="lead">Advanced MVC</p>
    <p><a href="http://www.centriq.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-12">
        
            <div style="text-align: center; font-weight: bolder;">Our Mission!</div>
        <br /><br />
            <p>
                The mission of Family, Love, Coffee is to help bring back that sense of community and what really matters in life. Help people focus on those aspects that really make a difference at the end of the day and give life a meaning.
            </p>

            
        

    </div>
</div>