@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC3 Site</h1>
    <p class="lead">Advanced MVC</p>
    <p><a href="http://www.centriq.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">MVC3 Topic Outline</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Mod #</th>
                        <th>Topic</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Image Upload Utility</td>
                        <td>Making image upload functionality more modular and efficient</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Filters, Search, and Paging</td>
                        <td>Providing a better user experience for large sets of data.</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Session-Based Shopping Cart</td>
                        <td>Persisting shopping cart data between page requests.</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Custom User Details</td>
                        <td>Expanding the basic identity functionality</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>AJAX</td>
                        <td>Asynchronous JavaScript and XML - sending requests to the server without a page reload</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Custom Errors</td>
                        <td>Creating a better user experience by elegantly handling errors.</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Unit Testing</td>
                        <td>Automating the process of ensuring our code is functioning.</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>